@mixin dropdown-menu($direction) {
  li {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 5px 20px;
    //background-color: $menu-bg;
    margin-right: -4px;  // get rid of spacing between list items
    //transition: all 0.2s;

    &:hover {
      //background: transparent url(../images/1px-dark-opaque.png);
      background: transparent url(../images/1px-almost-transparent.png);
    }
    &:hover .sub-menu {
      max-height: 300px;
      visibility: visible;
      transition: max-height 0.4s linear;
    }
  }
  .sub-menu {
    width: 100%;  // same width as parent
    display: block;
    visibility: hidden;
    position: absolute;
    @if $direction == up {
      bottom: 100%; // align to top of parent element (presumably they have the same size!)
    } @else {
      top: 100%; // align to bottom of parent element (presumably they have the same size!)
    }
    left: 0;
    box-shadow: none;
    max-height: 0;

    overflow: hidden;

    li {
      display: block;
    }
  }
}