.menu--social {
  // hide the link text, just leave it for screen readers
  a span {
    @extend .screen-reader-text;
  }
  li {
    display: inline-block;
    padding: 0 5px;
  }
  a {
    font-size: 2.5rem !important;
    display: inline-block;
    padding: 5px;
  }

  @include breakpoint(0 ($tablet - 1px)) {
    // for phones, stretch the menu across the width
    display: flex;

    li {
      flex: 0 0 auto;
    }
  }
}