// the "contact me" menu that is shown on the "In Touch" page
.menu--contactme {
  position: relative;
  font-size: 1.8rem;
  margin: 0 30px;

  a span {
    display: inline-block;
    position: absolute;
    left: 2em;
    color: $content-fg;
  }

  @include breakpoint($tablet) {
    font-size: 2.4rem;
  }

  @include breakpoint($desktop) {
    font-size: 3.0rem;
  }
}