/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/



$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #030303;
$dark-gray:         #0f0f0f;
$white:             #fff;
$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;
$tan:               #eceee5;
$green:             #7dd667;
$blue:              #2980b9;

$color-primary:         #25849a;
$color-primary-darker:  #0e323a;
$color-primary-verydark:  #040f11;
$color-primary-lighter: #d9f0f6;
$color-primary-verylight: #f4fbfc;
$color-primary-active:  $color-primary-lighter;

$text-color:        #5c6b80;
$link-color:        $color-primary;
$link-hover:        $color-primary-active;
$header-fg:         $color-primary-verylight;
$header-fg-active:  $color-primary;
// we don't actually use this color for the header, we use an image, but this is an approximation used for controls
$header-bg:         $color-primary-verydark;
$header-border-color: $color-primary-darker;
// color for body (outside of article content)
$body-fg:           #cbebf3;
$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
// color for article content
$content-fg:        $color-primary-verydark;
$content-bg:        $white;


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
